@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vehicle Management System</h1>
    @if (Request.IsAuthenticated == false)
     {
        <p>Welcome to Vehicle management system Please log in to use the system</p>
     }
</div>

